// ===================Fonts Style================= //

@mixin font-regular($color) {
    color: $color;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}

@mixin font-bold($color) {
    color: $color;
    overflow: hidden;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
}

@mixin font-medium($color) {
    color: $color;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
}

// ===================Btn bg color================= //

@mixin btn($bg-color) {
    @include font-regular($white-color);
    background-color: $bg-color;
    display: block;
    &:hover {
        background-color: lighten($bg-color, 10%);
        box-shadow: 0px 0px 1.25rem 0.1875rem rgba(0, 0, 0, 0.5);
    }
}

// ===================Discount labels================= //

@mixin discount-label(
    $discount: "",
    $bg-color: null,
    $discount2: "",
    $bg-color2: null,
    $left: null,
    $include-after: false
) {
position: relative;
    &::before {
        content: $discount;
        position: absolute;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        background-color: $bg-color;
        @include font-regular($white-color);
    }

    @if $include-after {
        &::after {
            content: $discount2;
            position: absolute;
            left: $left;
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
            background-color: $bg-color2;
            @include font-regular($white-color);
        }
    }
}
// ===================Discount labels Price================= //

@mixin discount-label-price($old-price: "") {
    &::after {
        content: $old-price;
        position: absolute;
        z-index: 1;
        text-decoration: line-through;
        margin-left: 1.5rem;
        @include font-medium($grey-color);
    }
}

// ===================Chat widget================= //
@mixin chat-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 4rem;
    height: 4rem;
    background-color: $chat-widget-bg;
    border-radius: 50%;
    margin-bottom: 5.625rem;
    margin-right: .5rem;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;
    &:hover {
        background-color: lighten($chat-widget-bg, 10);
        transform: rotate(25deg);
    }
}
