$white-color: #f8fdfe;
$black-color: #1f1f1f;
$grey-color: #8e8e8e;
$bg-grey-color: #a8a8a8;
$red-color: #e90000;
$eggplant-color: #4C394E;
$olive-color: #4D762D;
$blue-color: #4200FF;
$purple-color:#AF39E7;
$pink-color: #EA33C0;
$chat-widget-bg: #10bbd5;
