//.header-bottom {
//    &__list {
//        @media screen and (min-width: 290px) and (max-width: 440px) {
//            display: flex;
//            justify-content: space-around;
//            width: 100%;
//        }
//    }
//    &__title {
//        @media screen and (min-width: 290px) and (max-width: 440px) {
//            display: none;
//        }
//    }
//}
//
//.bestsellers__list {
//    @media screen and (min-width: 290px) and (max-width: 1295px) {
//        display: flex;
//        justify-content: space-evenly;
//        flex-wrap: wrap;
//    }
//}
//
//.bestsellers__title {
//    @media screen and (min-width: 290px) and (max-width: 706px) {
//        text-align: center;
//    }
//}
