<footer class='footer'>
    <div class="container footer__wrapper">
        <p class='footer__text-style'>© 2023</p>
        <p class='footer__text-style'>All rights reserved</p>
    </div>
</footer>