<header class='header'>
    <section class='price'>
        <div class="container">
            <nav class='price__nav'>
                <a class='price__nav-link price__nav--logo' href="#">bookRead</a>
                <a class="price__nav-link price__nav--basket">0,00 €</a>
            </nav>
        </div>
    </section>
    <section class="menu">
        <div class="container">
            <nav class="menu__nav">
                <h3 class='menu__nav-title'>Shop by category</h3>
                <ul class="menu__nav-list">
                    <li class='menu__nav-item'><a class='menu__nav-link' href="#">Order Status</a></li>
                    <li class='menu__nav-item'><a class='menu__nav-link' href="#">Wishlist</a></li>
                    <li class='menu__nav-item'><a class='menu__nav-link' href="#">Sign in/Join</a></li>
                </ul>
            </nav>
        </div>
    </section>
</header>