<main class="main">
    <section class='bestsellers'>
        <div class="container">
            <h1 class='bestsellers-title'>Bestsellers – our most popular items, updated daily</h1>
            <ul class='bestsellers__list'>
                <li class="bestsellers__list-item bestsellers__list-item--card-1">
                    <a class='bestsellers__list-link' href="#"><img class="bestsellers__list-img" src="./img/image1.jpg"
                                                                    width="178" height="280" alt="#"></a>
                    <h2 class="bestsellers__list-title">Final Offer</h2>
                    <h3 class="bestsellers__list-subtitle">Lauren Asher</h3>
                    <p class="bestsellers__list-price bestsellers__list--old-price">16,05 €</p>
                    <button class='bestsellers__list-btn '>
                        Add to basket
                    </button>
                </li>
                <li class="bestsellers__list-item bestsellers__list-item--card-2">
                    <a class='bestsellers__list-link' href="#"><img class="bestsellers__list-img" src="./img/image2.jpg"
                                                                    width="178" height="280" alt="#"></a>
                    <h2 class="bestsellers__list-title">It Ends With Us</h2>
                    <h3 class="bestsellers__list-subtitle">Colleen Hoover</h3>
                    <p class="bestsellers__list-price bestsellers__list--old-price">10,52 €</p>
                    <button class='bestsellers__list-price bestsellers__list-btn--end-up'>
                        End Up
                    </button>
                </li>
                <li class="bestsellers__list-item bestsellers__list-item--card-3">
                    <a class='bestsellers__list-link' href="#"><img class="bestsellers__list-img" src="./img/image3.jpg"
                                                                    width="178" height="280" alt="#"></a>
                    <h2 class="bestsellers__list-title">Add to baskett</h2>
                    <h3 class="bestsellers__list-subtitle">James Clear</h3>
                    <p class="bestsellers__list-price bestsellers__list--old-price">19,75 €</p>
                    <button class='bestsellers__list-btn'>
                        Add to basket
                    </button>
                </li>
                <li class="bestsellers__list-item bestsellers__list-item--card-4">
                    <a class='bestsellers__list-link' href="#"><img class="bestsellers__list-img" src="./img/image4.jpg"
                                                                    width="178" height="280" alt="#"></a>
                    <h2 class="bestsellers__list-title">The Creative Act</h2>
                    <h3 class="bestsellers__list-subtitle">Rick Rubin</h3>
                    <p class="bestsellers__list-price bestsellers__list--old-price">29,45 €</p>
                    <button class='bestsellers__list-btn'>
                        Add to basket
                    </button>
                </li>
                <li class="bestsellers__list-item bestsellers__list-item--card-5">
                    <a class='bestsellers__list-link' href="#"><img class="bestsellers__list-img" src="./img/image5.jpg"
                                                                    width="178" height="280" alt="#"></a>
                    <h2 class="bestsellers__list-title">Spare</h2>
                    <h3 class="bestsellers__list-subtitle">Prince Harry the Duke </h3>
                    <p class="bestsellers__list-price bestsellers__list--old-price">29,71 €</p>
                    <button class='bestsellers__list-btn'>
                        Add to basket
                    </button>
                </li>
                <li class="bestsellers__list-item bestsellers__list-item--card-6">
                    <a class='bestsellers__list-link' href="#"><img class="bestsellers__list-img" src="./img/image6.jpg"
                                                                    width="178" height="280" alt="#"></a>
                    <h2 class="bestsellers__list-title">Digital Minimalism</h2>
                    <h3 class="bestsellers__list-subtitle">Cal Newport</h3>
                    <p class="bestsellers__list-price bestsellers__list--old-price">11,94 €</p>
                    <button class='bestsellers__list-btn'>
                        Add to basket
                    </button>
                </li>
                <li class="bestsellers__list-item bestsellers__list-item--card-7">
                    <a class='bestsellers__list-link' href="#"><img class="bestsellers__list-img" src="./img/image7.jpg"
                                                                    width="178" height="280" alt="#"></a>
                    <h2 class="bestsellers__list-title">Meditations</h2>
                    <h3 class="bestsellers__list-subtitle">Marcus Aurelius</h3>
                    <p class="bestsellers__list-price bestsellers__list--old-price">10,94 €</p>
                    <button class='bestsellers__list-btn'>
                        Add to basket
                    </button>
                </li>
                <li class="bestsellers__list-item bestsellers__list-item--card-8">
                    <a class='bestsellers__list-link' href="#"><img class="bestsellers__list-img" src="./img/image9.jpg"
                                                                    width="178" height="280" alt="#"></a>
                    <h2 class="bestsellers__list-title">How to Think Like a Roman</h2>
                    <h3 class="bestsellers__list-subtitle">Donald Robertson</h3>
                    <p class="bestsellers__list-price bestsellers__list--old-price">17,94 €</p>
                    <button class='bestsellers__list-price bestsellers__list-btn--end-up'>
                        Add to basket
                    </button>
                </li>
                <li class="bestsellers__list-item bestsellers__list-item--card-9">
                    <a class='bestsellers__list-link' href="#"><img class="bestsellers__list-img" src="./img/image10.jpg"
                                                                    width="178" height="280" alt="#"></a>
                    <h2 class="bestsellers__list-title">The Meditations of Marcus </h2>
                    <h3 class="bestsellers__list-subtitle">Marcus Aurelius</h3>
                    <p class="bestsellers__list-price bestsellers__list--old-price">10,90 €</p>
                    <button class='bestsellers__list-btn'>
                        Add to basket
                    </button>
                </li>
                <li class="bestsellers__list-item bestsellers__list-item--card-10">
                    <a class='bestsellers__list-link' href="#"><img class="bestsellers__list-img" src="./img/image11.jpg"
                                                                    width="178" height="280" alt="#"></a>
                    <h2 class="bestsellers__list-title">Lives of the Stoics</h2>
                    <h3 class="bestsellers__list-subtitle">Marcus Aurelius</h3>
                    <p class="bestsellers__list-price bestsellers__list--old-price">11,51 €</p>
                    <button class='bestsellers__list-btn'>
                        Add to basket
                    </button>
                </li>
                <li class="bestsellers__list-item bestsellers__list-item--card-11">
                    <a class='bestsellers__list-link' href="#"><img class="bestsellers__list-img" src="./img/image12.jpg"
                                                                    width="178" height="280" alt="#"></a>
                    <h2 class="bestsellers__list-title">Dopamine Nation</h2>
                    <h3 class="bestsellers__list-subtitle">Dr Anna Lembkes</h3>
                    <p class="bestsellers__list-price bestsellers__list--old-price">11,51 €</p>
                    <button class='bestsellers__list-btn'>
                        Add to basket
                    </button>
                </li>
                <li class="bestsellers__list-item bestsellers__list-item--card-12">
                    <a class='bestsellers__list-link' href="#"><img class="bestsellers__list-img" src="./img/image13.jpg"
                                                                    width="178" height="280" alt="#"></a>
                    <h2 class="bestsellers__list-title">I Don't Need Therapy</h2>
                    <h3 class="bestsellers__list-subtitle">Dr Anna Lembkes</h3>
                    <p class="bestsellers__list-price bestsellers__list--old-price">21,23 €</p>
                    <button class='bestsellers__list-btn'>
                        Add to basket
                    </button>
                </li>
            </ul>
        </div>
    </section>
</main>