.bestsellers__list {
  &-item {
    background-color: $white-color;
    padding: 32px;
    flex-direction: column;
    display: flex;
    border: 1px solid $grey-color;
  }

  &-link {
    margin: 0 auto;
    margin-bottom: 16px;
  }

  &-title {
    @include font-bold($black-color);
    padding-bottom: 8px;
    border-bottom: 1px solid $grey-color;
    margin-bottom: 8px;
  }

  &-subtitle {
    @include font-regular($grey-color);
    margin-bottom: 16px;
  }

  &-price {
    @include font-medium($red-color);
    margin-bottom: 16px;
  }

}

.bestsellers__list-item {
  &--card-1 {
    @include discount-label("Hit", $blue-color);

  }

  &--card-2 {
    @include discount-label("New", $purple-color);
  }

  &--card-3 {
    @include discount-label("Hit", $blue-color, "10% off", $pink-color, 23%, true);

    & > .bestsellers__list--old-price {
      @include discount-label-price("22,00 €")
    }
  }

  &--card-5 {
    @include discount-label("Hit", $blue-color, "16% off", $pink-color, 23%, true);

    & > .bestsellers__list--old-price {
      @include discount-label-price("35,00 €")
    }
  }

  &--card-6 {
    @include discount-label("New", $purple-color, "11% off", $pink-color, 27%, true);

    & > .bestsellers__list--old-price {
      @include discount-label-price("13,50 €")
    }
  }

  &--card-7 {
    @include discount-label("Hit", $blue-color, "7% off", $pink-color, 23%, true);

    & > .bestsellers__list--old-price {
      @include discount-label-price("11,50 €")
    }
  }

  &--card-10 {
    @include discount-label("20% off", $pink-color);

    & > .bestsellers__list--old-price {
      @include discount-label-price("14,50 €")
    }
  }

  &--card-11 {
    @include discount-label("New", $purple-color, "30% off", $pink-color, 27%, true);

    & > .bestsellers__list--old-price {
      @include discount-label-price("14,50 €")
    }
  }
}


