.bestsellers__list {
  &-btn {
    @include btn($eggplant-color);
    padding: 8px 24px;
    overflow: hidden;
    border: none;
  }
}
.bestsellers__list-btn--end-up{
  @include btn($olive-color);
  padding: 8px 24px;
  overflow: hidden;
  border: none;
}