.price {
  background-color: #10bbd5;
  height: 72px;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    &--logo {
      display: flex;
      color: #f8fdfe;
      font-size: 24px;
      font-weight: 700;
      line-height: normal;
      align-items: center;

      &::before {
        content: "";
        background-image: url("../img/logo_book.svg");
        width: 26px;
        height: 28px;
        margin-right: 4px;
      }
    }

    &--basket {
      color: #f8fdfe;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      display: flex;
      align-items: center;

      &::after {
        content: "";
        background-image: url("../img/cart_icon.svg");
        width: 40px;
        height: 40px;
      }
    }
  }
}

.menu {
  width: 100%;
  background-color: $white-color;

  &__nav {
    display: flex;
    justify-content: space-between;

    &-list {
      display: flex;
      gap: 40px;
    }

    &-title {
      @include font-regular($black-color);
    }

    &-link {
      @include font-regular($black-color);
    }
  }
}

