.footer{
  height: 88px;
  background-color: #4C394E;
  &--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
  }
  &__text-style{
    @include font-regular($white-color)
  }
}

