.bestsellers {
  background-color: #EEEEEF;
  padding-bottom: 120px;
  padding-top: 96px;

  &-title {
    color: #1f1f1f;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 23px;
    padding-top: 32px;
    border-bottom: 1px solid $grey-color;
    padding-bottom: 23px;
  }

  &__list {
    display: grid;
    flex-wrap: wrap;
    gap: 23px;
    grid-template-columns: repeat(4, 306px);
    row-gap: 32px;
  }
}

